{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/header.html' %}

  <p>
    <a href="{% url 'index' %}">Voltar</a>
  </p>

    <h1>Bolo de Fuba</h1>
    <h3>Ingredientes</h3>
    <ul>
     <li>3 ovos</li>
     <li>2 xícaras (chá) de fubá</li>
     <li>3 colheres (sopa) rasas de farinha de trigo</li>
     <li>1/2 copo (americano) de óleo</li>
     <li>1 copo de leite</li>
     <li>1 colher (sopa) de fermento em pó</li>
    </ul>

    <h3>Modo de Preparo</h3>
    <ol>
        <li>Bata todos os ingredientes no liquidificador.</li>
        <li>Coloque em uma forma untada e enfarinhada.</li>
        <li>Leve ao forno preaquecido e deixe assar, por cerca de 40 minutos.</li>
    </ol>

    <h3>Resultado</h3>
    <img src="https://s2.glbimg.com/GDADinKyW8a4LTtwZyXlG1OiP_E=/0x0:1280x800/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_1f540e0b94d8437dbbc39d567a1dee68/internal_photos/bs/2022/w/I/HzhyCkTqm1UoDynv8XDQ/bolo-de-fuba-fofino.jpg" width="600" height="600">
 

    {% include 'partials/footer.html' %}
    {% endblock %}

   