<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Cheff - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>
<body>
    <h1>Personal Cheff</h1>
    <h2>Seu site de Receitas</h2>
    
    <table border="1">
        <tr>
            <td>Receita</td>
            <td>Video</td>
            <td>Ações</td>
        </tr>
        <tr>
            <td>Suco de Laranja</td>
            <td><a href="https://www.youtube.com/watch?v=Zbm4LXnr3j8">Ver no Youtube</a></td>
            <td><a href="sucodelaranja">Ver Receita Completa</a></td>
        </tr>
        <tr>
            <td>Miojo</td>
            <td><a href="https://www.youtube.com/watch?v=gM1uCD63wTs">Ver no Youtube</a></td>
            <td><a href="miojo">Ver Receita Completa</a></td>
        </tr>

        <tr>
            <td>Bolo de Fuba</td>
            <td><a href="https://www.youtube.com/watch?v=ukXdVZ4DmRw">Ver no Youtube</a></td>
            <td><a href="bolodefuba">Ver Receita Completa</a></td>
        </tr>

        <tr>
            <td>Salada</td>
            <td><a href="https://www.youtube.com/watch?v=1jbFqjZrOBw">Ver no Youtube</a></td>
            <td><a href="salada">Ver Receita Completa</a></td>
        </tr>

    </table>
</body>
</html>