{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/header.html' %}


  <p>
    <a href="{% url 'index' %}">Voltar</a>
  </p>

    <h2>{{ uma_receita.nome_receita }}</h2>
    <h3>Modo de Preparo</h3>
    <ol>
        <li>{{ uma_receita.modo_prepato }}</li>
    </ol>
    <h3>Ingredientes</h3>
      {{ uma_receita.ingredientes|linebreaks}}
  <h3>Nota da receita</h3>
  <h2>{{ uma_receita.nota }}</h2>
  <h3>Video</h3>
  <a href="{{uma_receita.video}}" target="_blank" >Veja o Video dessa receita</a>


{% include 'partials/footer.html' %}
{% endblock %}
