{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/header.html' %}

<p>
    <a href="{% url 'index' %}">Voltar</a>
</p>
    <h1>Salada</h1>
    <h3>Ingredientes</h3>
    <ol>
        <li>Alface</li>
        <li>Tomate</li>
        <li>Pepino</li>
    </ol>
    <h3>Modo de Preparo</h3>
    <ul>
        <li>Corte os legumes</li>
        <li>Coloque em uma Vazilha</li>
        <li>Tempere a gosto!</li>
        <li>Coma!</li>
    </ul>
    
    {% include 'partials/footer.html' %}
    {% endblock %}
  