{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salada</title>
</head>
<body>
    <h1>Salada</h1>
    <h3>Ingredientes</h3>
    <ol>
        <li>Alface</li>
        <li>Tomate</li>
        <li>Pepino</li>
    </ol>
    <h3>Modo de Preparo</h3>
    <ul>
        <li>Corte os legumes</li>
        <li>Coloque em uma Vazilha</li>
        <li>Tempere a gosto!</li>
        <li>Coma!</li>
    </ul>
    <p>
        <a href="{% url 'index' %}">Voltar</a>
    </p>
    
</body>
</html>