{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Personal Cheff</h5>
          <span class="text-muted">Seu APP de Receitas</span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
   
      <header>
        <img src="{% static 'logo.png' %}" class="imagem-logo">
      </header>

    <h1>Salada</h1>
    <h3>Ingredientes</h3>
    <ol>
        <li>Alface</li>
        <li>Tomate</li>
        <li>Pepino</li>
    </ol>
    <h3>Modo de Preparo</h3>
    <ul>
        <li>Corte os legumes</li>
        <li>Coloque em uma Vazilha</li>
        <li>Tempere a gosto!</li>
        <li>Coma!</li>
    </ul>
    <p>
        <a href="{% url 'index' %}">Voltar</a>
    </p>
    {% endblock %}